* { 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}
 header {
    background-color: #0020F4; 
    width: 100%;
    height: 390px ;
}

.container {
    max-width: 1680px;
    width: 90%;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

}

.header-ul {
    display: flex;

}

nav ul li a {
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px;
    font-family: 'Helvetica Neue';
}

.white-contact {
    background-color: #FFFFFF;
    width: 160px;
    height: 55px;
    border-radius: 30px;
    color: #171717;

}

.main-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -10%;
    border-radius: 15px;

}

.heading3 {
    font-size: 28px;
    font-family: 'Helvetica Neue';
    padding: 10px;

}

.littlephotos {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    align-items: center;

}
.paragraph {
    color: #171717;
    font-size: 16px;
    font-family: 'Helvetica Neue';
    width: 900px;
    margin: auto;
    padding: 8px;
}

.paragraph-button {
    color: #FFFFFF;
    background-color: #0020F4;
    width: 430px;
    height: 55px;
    border-radius: 30px;
    margin-top: 2%;
    padding-left: 40px;
    margin-left: 30%;
}


.button-p {
    display: flex;
}

.fotter-contact{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.left-part {
    display: flex;
    flex-direction: column;

}

footer {
    width: 100%;
    background-color: #0020F4;
}

.fotter-contact h3 {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Helvetica Neue';
    padding: 5%;

}

.lorem {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Helvetica Neue';
    width: 463px;

}

.right-part {
    display: flex;
}

.registration {
    display: flex;
    flex-direction: column;

}

.iframe-footer {
    width: 463px;
    height: 197px;
}

.required {
    color: #FFFFFF;
    font-size: 16px;
    padding: 3%;
}


.form-input {
    border-bottom: 1px solid #FFFFFF;
    background: #0020F4;
    float: right;
    
}

.submit {
    background-color: #FFFFFF;
    border-radius: 28px;
    padding: 

}

.contact-paragraph p {
    color: #FFFFFF;


}

.secondpart {
    display: flex;
    align-items: center;


}

.headingcontact {
    color: #FFFFFF;
    padding: 3%;
    padding-left: 15px;
    font-weight: 300;
    font-family: 'Helvetica Neue';
}
.secondpart p { color: #FFFFFF;
    
}
.mobile-email {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 50px;
    height: 3%;
}

.footer-ending {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-ending p {
    font-size: 16px;
    font-family: 'Helvetica Neue';
    color: #FFFFFF;
}

.footer-ending img { 
    width: 50px;
    height: 50px;


}


.madewlove {
    display: flex;
}

.mobile-ending {
    display: none;
}

.right-part {
    display: flex;
    justify-content: space-between;
}